<%= form_with(model: article, class: "contents", data: { controller: "article", article_has_errors_value: article.errors.any? }) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-400 px-3 py-2 font-medium rounded-md mt-3 dark:bg-gray-800">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul class="list-disc ml-6">
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label :topic %>
    <%= form.text_field :topic, data: { article_target: "topic" }, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": article.errors[:topic].none?, "border-red-400 focus:outline-red-600": article.errors[:topic].any?}] %>
  </div>
  <div class="my-5">
    <%= form.label :body %>
    <%= form.textarea :body, rows: 4, data: { article_target: "body" }, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": article.errors[:body].none?, "border-red-400 focus:outline-red-600": article.errors[:body].any?}] %>
  </div>
  <div class="my-5">
    <%= form.label :images %>
    <%= form.file_field :images, 
        accept: "image/png, image/jpeg, image/jpg, image/gif, image/webp",
        multiple: true, 
        data: { article_target: "input" },
        class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", 
                {"border-gray-400 focus:outline-blue-600": article.errors[:images].none?, 
                 "border-red-400 focus:outline-red-600": article.errors[:images].any?}] %>
    <div class="rounded-md p-3 mt-2 w-full overflow-x-auto">
      <div data-article-target="preview" class="flex gap-2 min-w-min">
        <% if article.persisted? && article.images.attached? %>
          <% article.images.each do |image| %>
            <div class="image-preview-wrapper relative mt-4">
              <%= image_tag image, class: "rounded-md w-64 h-64 object-cover" %>
              <button type="button" 
                      data-action="article#removeNewImage"
                      data-filename="<%= image.filename %>"
                      class="z-10 absolute -top-1 right-0 text-red-400 text-2xl p-1 cursor-pointer hover:scale-110 transition-all duration-300">
                <i class="fa-solid fa-circle-xmark"></i>
              </button>
              <div class="absolute top-0 right-0 bg-white opacity-90 p-4 rounded-bl-md rounded-tr-md"></div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <%# <div class="inline"> %>
  <%# form.submit data: { article_target: "submit" }, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  <%# </div> %>

  <%# a button to trigger buttom sheet %>
  <button type="button"
          data-action="article#toggleBottomSheet" 
          class="rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer">
    <span><i class="fa-solid fa-paper-plane"></i> Submit</span>
  </button>
  <%# end of a button to trigger buttom sheet %>

  <%# Overlay %>
  <div data-article-target="overlay" class="z-20 fixed inset-0 bg-black/50 opacity-0 pointer-events-none transition-opacity duration-300 md:hidden"></div>
  <%# Bottom sheet %>
  <div data-article-target="bottomSheet" 
     class="z-20 fixed bottom-0 left-0 right-0 translate-y-full transform transition-transform duration-300 ease-in-out md:hidden">
    <div class="bg-white border-t shadow-lg p-4 rounded-t-2xl">
      <div class="flex flex-col items-center justify-center mb-28">
        <h3 class="text-2xl text-gray-800 mb-3">Publish Article?</h3>
        <p class="text-lg text-gray-500">You can delete it later, just relaxed okay :)</p>
      </div>
      <%= form.submit data: { article_target: "submit" }, class: "w-full rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
    </div>
  </div>
  <%# end of Bottom sheet %>
<% end %>
